
body{
background-color:#abacef;
}

h1{
font-size:60pt; 
color:#3300FF; 
text-align:center; 
font-style:italic; 
text-shadow:0 0 15px #3300FF, 0 0 20px #3300FF;
margin-top:0px;
margin-bottom:0px;
margin:auto; 
}

table.images{
max-width:10%; 
margin-left:auto; 
margin-right:auto; 
margin-top:-290px;
font-size:0;
border-spacing:0px 0px;
}

table.optionstable{
background-color:abacef; 
border:10px dotted #000066; 
text-align:right; 
border-spacing:2px; 
font-size:20pt;
top:320px;
right:550px;
}

imge{
background-color:#000099;
padding:10px;
}

td.options{
background-color:#000099; 
color:#deffff;
font-style:italic; 
color:white;
}


div.select{
font-style:italic; 
color:#3300FF;  
font-size:20px; 
border:2px solid purple; 
font-size:20pt;  
background-color:#C0ADF0; 
padding: 8px; 
border-color:#3300FF; 
border-width: thick;
margin-left: 1120px;
margin-right: 680px;
text-align: center;
margin-top: 30px;
}

div.witch{
font-size:30pt; 
margin:auto; 
padding:10px; 
text-align:center;
width:75;
height:75;
}

div.scroll{
height: 200px;
margin-top: 100px; 
font-size: 20pt;
font-style: italic;
border: solid grey;
overflow-y: scroll;
overflow-x: hidden;
padding: 10px;
margin-left: 210px;
}

div.footer{
font-size: 20pt;
color: white;
text-align: center;
align-items: center;
margin-top: 0px;
height: 130px;
line-height: 110px;
box-shadow: inset -1px -70px 60px #000000;
}

<!--	Name: Joseph Rodriguez	 
		Course:	  235.01
		Homework: #1
		Git-Hub: https://github.com/yourName/yourHomeWork
-->